@import "tailwindcss";

@layer utilities {
    @media print {
        @page {
            size: letter;
            /* Carta */
            margin: 0;
            /* Critical: Remove default browser margins */
        }

        body {
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact !important;
            color-adjust: exact !important;
            filter: contrast(150%);
            /* High contrast for sharper text */
        }
    }
}